<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Product</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        form {
            max-width: 400px;
            margin: 20px auto;
        }
    </style>
</head>
<body>

<form class="container" th:action="@{/product/insert}" method="post" th:object="${newProduct}">
    <div class="form-group">
        <label for="manufacturer">Manufacturer Name:</label>
        <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
    </div>

    <div class="form-group">
        <label for="name">Product Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>


    <div class="form-group">
        <label for="unit">Unit:</label>
        <input type="text" class="form-control" id="unit" name="unit" required>
    </div>

    <button type="submit" class="btn btn-primary">Insert Product</button>
</form>

<!-- Link to Bootstrap JS and Popper.js (optional) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
